*{
    margin: 0.9% 0px 0px 10px;
    padding: 0px;
  }
  ul{
    display: flex;
  }
  ul li{
    list-style-type: none;
  }
  ul,img{
    object-fit: cover;
    height: 250px;
    width: 300px;
    border-radius: 35px;
    gap: 50px;
  }
  h1{
    font-size: 3rem;
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 2rem;
  }
  body{
    height: 100%;
  }
  #fruList{
    text-align: center;
  }
  #vegList{
    text-align: center;
  }
  h3{
    margin-top: 4%;
    text-align: center;
  }
  li{
    font-size: 20px;
  }